.about-container {
    font-family: Helvetica;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.about-container h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.about-container p {
    font-size: 1em;
    font-weight: 300;
    text-align: justify;
}

.about-container img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.imgContainer{
    float:left;
}